*./burdenTest.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*./burdenTest.xcodeproj/project.xcworkspace/xcuserdata/
*./burdenTest.xcodeproj/xcuserdata/corinthummel.xcuserdatad/xcschemes/burdenTest.xcscheme